<div class = "container">
  <%= image_tag "Banner1.png", class: "img-circle" %>
</div>
<div class= "container form">
  <%=link_to "Inscreva-se", "#", class:"inscreva" %>    
</div> 
<div class = "container">
  <%= image_tag "Banner2.png", class: "img-circle" %>
</div>
<footer class = "container">
  <%= image_tag "Footer.png", class: "img-circle" %>
</div>