<div class = "container">
  <%= image_tag "Banner1.png", class: "img-circle" %>
</div>
<div class= "container form">
  <%=link_to "Inscreva-se", "https://docs.google.com/forms/d/1HV6R2taULzMUiZsnAQthLcBEL12jLtKrC6DXb7aGNdw/viewform", class:"inscreva" %>    
</div> 
<div class = "container">
  <%= image_tag "Banner2.png", class: "img-circle" %>
</div>
<footer class = "container">
  <%= image_tag "Footer.png", class: "img-circle" %>
</div>